.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.profileImage {
  width: 48px;
  border-radius: 50%;
}

.name {
  font-weight: 500;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--black);
}

.tag {
  margin-left: auto;
}
